{% load static %}

<!DOCTYPE html>
<html lang="en">    
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sa & Mo — W</title>
  <link rel="stylesheet" href="{% static 'envite/css/kesyon.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=Jost:wght@200;300;400&display=swap" rel="stylesheet"/>
</head>

<body>

  <!-- HERO -->
  <section class="front-hero">
    <div class="monogram">S &amp; M</div>
    <div class="divider-line"></div>
    <div class="hero-names">Sra &amp; Mo</div>
    <div class="hero-date">sday, 12 ber 20</div>
  </section>
 
        <!-- Contact -->
  <div class="sections" style = " margin: 0 auto; padding: 4rem 6rem;
    text-align: left;">
    <div class="section">
      <div class="section-label">Contact</div>
      <div class="section-content" style = "width:70%; margin-top:1rem; display:block;">
        <h2>Questions? Reach Us</h2>
        <div class="contact-item">
          <span class="contact-role">General Inquiries</span>
          <ul> Prior to wedding day, email or call<br>
             M & S for inquiries <br> </ul>
          <span class="contact-value" >s.n.m@gmail.com <br>
            44457775 or 55555555</span>
        </div>
        
      </div>
    </div>
  </div>

  <a class="back-link" href="{% url 'maryaj' %}">← Back to Main Page</a>

  <footer>
    We cannot wait to celebrate with you.
  </footer>

  <script src="{% static 'envite/js/kesyon.js' %}"></script>

</body>
</html>